section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding-top: 11rem;
  padding-bottom: 11em;
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 10%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: bisque;
    background-color: gray;
  }
}
